<?xml version="1.0" encoding="utf-8"?>
<!-- GitHub / 侧载包才允许从 Release 下载并交给系统安装器。Play 包不含这项能力。 -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:mimeType="application/vnd.android.package-archive" />
        </intent>
    </queries>
</manifest>
